In [6]:
# notebook variables
GROUP_A="normal-stats.26714"
GROUP_B="normal-stats.26714"

P_VALUE_BOUND = 0.05

In [7]:
# import in-use libraries
import pandas as pd
from scipy.stats import ttest_ind

In [8]:
# read csv to create groups datasets
dfA = pd.read_csv(f'tmp/{GROUP_A}/dataset.csv')
dfB = pd.read_csv(f'tmp/{GROUP_A}/dataset.csv')

dfA.head()

   pub-stats  sub-stats  overall-stats
0      35.52     534.03         568.23
1      36.84     553.35         589.04
2      34.60     519.90         553.10
3      36.25     544.74         579.62
4      28.47     427.42         455.20

In [9]:
# describe datasets
dfA.describe()

       pub-stats   sub-stats  overall-stats
count    20.0000   20.000000      20.000000
mean     35.3445  530.976000     565.173000
std       2.7545   41.423051      44.038068
min      28.4700  427.420000     455.200000
25%      34.5500  519.095000     552.162500
50%      36.2650  544.930000     579.955000
75%      36.6850  550.952500     586.565000
max      39.7500  596.530000     635.550000

In [10]:
# a function for hypothesis testing
def hypo_test(groupA, groupB):
    t, p = ttest_ind(groupA, groupB)
    return p < P_VALUE_BOUND

In [ ]:
# a function to compare two groups
def compare(avgA, avgB):    
    return 100 * float(avgA-avgB/avgA)

In [11]:
#  hypothesis for comparing pub stats
if hypo_test(dfA["pub-stats"], dfB["pub-stats"]):
    print('reject pub-stats hypothesis: the means are different')
    print(f'(A-B/A): {compare(dfA["pub-stats"].mean(), dfB["pub-stats"].mean())}')
else:
    print('fail to reject pub-stats hypothesis: the means are the same')

fail to reject pub-stats hypothesis: the means are the same

In [12]:
#  hypothesis for comparing sub stats
if hypo_test(dfA["sub-stats"], dfB["sub-stats"]):
    print('reject sub-stats hypothesis: the means are different')
    print(f'(A-B/A): {compare(dfA["sub-stats"].mean(), dfB["sub-stats"].mean())}')
else:
    print('fail to reject sub-stats hypothesis: the means are the same')

fail to reject sub-stats hypothesis: the means are the same

In [13]:
#  hypothesis for comparing overall stats
if hypo_test(dfA["overall-stats"], dfB["overall-stats"]):
    print('reject overall-stats hypothesis: the means are different')
    print(f'(A-B/A): {compare(dfA["overall-stats"].mean(), dfB["overall-stats"].mean())}')
else:
    print('fail to reject overall-stats hypothesis: the means are the same')

fail to reject overall-stats hypothesis: the means are the same